<html>

  <head>
    <title>MTG App</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/typescript/lib/typescript.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="/static/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function (err) {console.error(err);});
    </script>
    
    <!-- base url -->
    <base href="/">
  </head>
  <body>
    <dashboard-component><div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div></dashboard-component>
  </body>
</html>