<html>

  <head>
    <title>A Title</title>
    <!-- Material Design Lite -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/typescript/lib/typescript.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="/static/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function (err) {console.error(err);});
    </script>
    
    
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <!-- base url -->
    <base href="/">
  </head>

  <body>
      <main class="mdl-layout__content page-content">
        <my-app class="mdl-grid">
          <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </my-app>
      </main>

  </body>
</html>